; [submodule "causal_website/Causal-Model-Task-Planner"]
; 	path = causal_website/planner
; 	url = git@github.com:liuyanqi/Causal-Model-Task-Planner.git

[submodule "causal_website/causal_website"]
	path = causal_website/planner
	url = https://github.com/Semanti1/causal_website/tree/causal_planner
