venv/*

*.pyc
__pycache__/
.DS_Store
instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
causal_website/static/js/buttonv2.js
causal_website/static/furnitures/*
causal_website/static/causal_graph/
causal_website/templates/labelerv2.html
.DS_Store
causal_website/static/images/
