venv/*

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
causal_website/static/images/*
causal_website/static/instructions/*
causal_website/static/js/buttonv2.js
causal_website/static/furnitures/*
causal_website/templates/labelerv2.html
.DS_Store
!static/images/light.png
