venv/*

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
static/images/*
static/instructions/*
static/js/buttonv2.js
static/furnitures/*
templates/labelerv2.html
.DS_Store
!static/images/light.png
