/* div[id^="new_prop"]{
  border:1px solid #4582e6;
}
div[id^="new_obj"]{
  border:1px solid #a4f5c3;
} */

#prop_btn{
  background-color: #4582e6;
  margin-left :5px;
}

#key_btn, #key_btn_special{
  background-color: #fcba03;
  margin-left :5px;
}
select{
  margin-left :5px;
}
#custom_lat{
  margin-left :5px;
}

#lat_btn{
  background-color: #BEBEBE;
  margin-left :5px;
}

#goal_btn{
  background-color: #f56042;
  margin-left :5px;
}

button[id^="lat_add_btn"]{
  background-color: #BEBEBE;
  margin-left :5px;
}

body {
    padding-bottom: 50px;
}
.col-sm-12{
  margin-bottom:10px;
}
#obj{
  margin-left:5px;
  background-color: #a4f5c3;
  display:inline-block;
}

#prop{
  margin-left:5px;
  background-color: #4582e6;
  display:inline-block;
}
#key{
  margin-left:5px;
  background-color: #fcba03;
  display:inline-block;
}

#lat{
  margin-left:5px;
  background-color: #BEBEBE;
  display:inline-block;
}

#goal{
  margin-left:5px;
  background-color: #f56042;
  display:inline-block;
}
.row{
  margin-bottom:10px;
}
.btn{
  margin-left: 5px;
}

#object{
  border:2.5px solid #a4f5c3;
}
#property{
  border:2.5px solid #4582e6;
}
#keyword{
  border:2.5px solid #fcba03;
}
#latent{
  border:2.5px solid #f56042;
}
#object_words #obj{
}

#property_words #prop{
}
.top-buffer { margin-top:20px; }

.vertSpace{
height:100px;
}