<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<!-- <script src="/socket.io/socket.io.js"></script> -->

</head>
<div class="container">
  <div class="jumbotron">
    <h1>Object Causal Model Labeler</h1>
    <p>Human-interface for creating various object's causal model</p>
  </div>
</div>

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="{{url_for('tutorial')}}">Tutorial</a>
      </div>
    </div>
  </nav>
</div>

<div class="container">
<h1> Introduction </h1>
<p> Welcome to Object causal model labeler. The labeler will help you create a causal model for a furniture piece that can help the robot better understand how to assemble them.
  We will explain the interface and show you examples of correct causal model </p>
  <h2> What is Object Causal Model?</h2>
  <h2> How to use the interface? </h2>
  <h3> Step1: Associate object part with it's properties.</h3>
  <img src="/static/instructions/step1.png" style="height:300px; width:auto">
  <p> We provides you a list of object parts' names and a list of random properties. Click "Add object's properties" and click the dropdown menu to select the object with it's associated properties.
    Some parts can have more than one properties so you can click "Add object properties" multiple times untill you think you've add all the properties. After you're done, click "Submit" to finish.
  </p>
  <h3> Step2:Add object causal model</h3>
  <img src="/static/instructions/step2.png" style="height:150px; width:auto">

  <p> In this step, you need to complete a sentence using the list of words we provides to construct a causal relationship between object's properties to it's latent variables.
    We provides a list of property words, key words(logic and extend words) and latent words. Click "Add Causal Rule" to add a new causal rule. Click "Add property", "Add keyword" or "Add latent" to add a field
      that has a dropdown menu and select the word you want. After you complete your sentence, you can click "Add Causal Rule" again to add a new rule. After you finish adding all the causal rules,
      click "generate graph" and the website will display you with the causal graph you generated. Click "Submit" if you think the causal information is correct.
  </p>

<h1> Examples </h1>




</div>
</html>
