<!doctype html>
<html>
<head>
<meta charset="utf-8">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<!-- jQuery library -->

<!-- Latest compiled JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script> -->
<!-- <script src="/socket.io/socket.io.js"></script> -->

</head>
<div class="container">
  <div class="jumbotron">
    <h1>Object Causal Model Labeler</h1>
    <p>Human-interface for creating various object's causal model</p>
  </div>
</div>

<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link dropdown-toggle" href="{{url_for('home')}}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home <span class="sr-only">(current)</span></a>

        <a class="nav-item nav-link" href="{{url_for('tutorial')}}">Tutorial</a>
       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
         <a class="dropdown-item" href="{{url_for('lamp')}}">Lamp</a>
         <a class="dropdown-item" href="{{url_for('chair')}}">Chair</a>
         <a class="dropdown-item" href="{{url_for('chair_exp')}}">Chair(experiment)</a>
       </div>
      </div>
    </div>
  </nav>
</div>

<div class="container">
  <img class="img-responsive" src={{furniture_image}} style="height:300px; width:auto">
</div>

<script>
var content = JSON.parse('{{description| tojson}}');
console.log(content);
</script>

<div class=container>
<h2> Step1: Associate object with its properties </h2>
<div class ="row" id="object_words">
</div>
<div class = "row" id="property_words">
</div>
<div class="row">
<button class="btn btn-success" id="add_object_properties"> Add object's property</button>
<button class="btn btn-success" id="submit"> Submit </button>
</div>


<div id="obj_property">
  <form id="obj_property_form">
  </form>
</div>
<div class="row" id="text_obj">
</div>
</div>

<div class=container>

<h2> Step2: Enter the object causal model for the object </h2>
<div class="row" id="property_words2">
<!-- <button class="btn btn-success" id="add_property">Add_Property</button>
<button class= "btn btn-info" id="remove_property">remove_property</button> -->
</div>


<div class="row" id="key_words">
<!-- <button class="btn btn-success" id="add_keywords">Add_Keywords</button>
<button class="btn btn-info" id="remove_keywords">remove_keywords</button> -->
</div>

<div class="row" id="lat_words">
<!-- <button class="btn btn-success" id="add_latent">Add_Latent</button>
<button class="btn btn-info" id="remove_latent">remove_latent</button> -->
</div>


<div class="row">
  <button class="btn btn-success" id="add_causal"> Add_Causal_Rule</button>
  <button class="btn btn-success" id="generate_causal"> Generate_Causal_Graph</button>
  <button class="btn btn-success" id="submit_causal"> Submit </button>
</div>

<div class=container>
<div id="object_causal">
</div>
</div>


<div class="col-sm-12" id="text_causal">
</div>


<div class="col-sm-12" id="image_causal">
<!-- <img src="/static/images/output2.gv.png" class='img-fluid' alt='Responsive Image'> -->

</div>
</div>
<input type="hidden" value="1" id="total_prop">
<input type="hidden" value="1" id="total_obj">
<input type="hidden" value="0" id="total_pair">
<input type="hidden" value="1" id="total_kw">
<input type="hidden" value="1" id="total_latent">
<input type="hidden" value="0" id="total_object_causal">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type=text/javascript src="{{url_for('static', filename='js/button.js')}}"></script>

</html>
