<!doctype html>
<html>
<head>
<meta charset="utf-8">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script> -->
<!-- <script src="/socket.io/socket.io.js"></script> -->

</head>
<div class="container">
  <div class="jumbotron">
    <h1>Object Causal Model Labeler</h1>
  </div>
</div>

<div class=container>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
<ul class="navbar-nav">
  <li class="nav-item">
    <a class="nav-item nav-link dropdown-toggle" href="{{url_for('home')}}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home <span class="sr-only">(current)</span></a>
    <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="{{url_for('lamp')}}">Lamp</a>
      <a class="dropdown-item" href="{{url_for('chair')}}">Chair</a>
      <a class="dropdown-item" href="{{url_for('light')}}">Light</a>
    </div> -->
  </li>
  <li class="nav-item">
    <a class="nav-item nav-link" href="{{url_for('tutorial')}}">Tutorial</a>
  </li>
</ul></nav>
</div>

<div class="container">
  Please finish reading the tutorial <a target="_blank" href="https://docs.google.com/document/d/1LMw-_2Q48YvjM1BkN9Daku7ujSKej2el1dfHC8LF1OY/edit">here</a> and proceed to the next step.
</div>

<div class="container">
  <p></p>
  <p></p>
  <p></p>
  <p></p>
  <button class="btn btn-success" id="gotoprolific" > Next </button>
<!--  <button class="btn btn-success" id="nextexp" onclick="window.location.href='{{url_for('next_experiment')}}';">   Next Experiment  </button>-->

</div>
<!--Please finish reading the tutorial <a target="_blank" href="https://docs.google.com/document/d/1LMw-_2Q48YvjM1BkN9Daku7ujSKej2el1dfHC8LF1OY/edit?usp=sharing">here</a> and proceed to the next step.-->
<!--<div>-->
<!--&lt;!&ndash;&lt;!&ndash;  <button class="btn btn-success" id = "prolific_id"> Start Experiment </button>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;  <button class="btn btn-success" onclick="window.location.href='{{url_for('after_tutorial')}}';"> Start Experiment </button>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--  <form action="{{ url_for("after_tutorial")}}" method="post">-->
<!--<label for="prolific">Prolific id:</label>-->
<!--<input type="text" id="prolific" name="pid" placeholder="prolific id">-->
<!--&lt;!&ndash;<label for="lastname">Last Name:</label>&ndash;&gt;-->
<!--&lt;!&ndash;<input type="text" id="lastname" name="lname" placeholder="lastname">&ndash;&gt;-->
<!--<button type="submit">Start</button>-->
<!--</div>-->
<script type=text/javascript src="{{url_for('static', filename='js/button.js')}}"></script>
</html>
